
main {
	padding: 50px;
	text-align: center;
}

button {
	background-color: #fad3ff;
	color: #fff;
	font-size: 24px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #e0007e;
}



header h1 {
	font-size: 28px;
	margin-top: 0;
}

main form {
	margin-top: 80px;
	display: inline-block;
}

main input[type="text"] {
	padding: 10px;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	width: 400px;
}

main button[type="submit"] {
	padding: 10px 20px;
	font-size: 24px;
	background-color: #da8cee;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	color: #fbe0ff;
	cursor: pointer;
}

main button[type="submit"]:hover {
	background-color: #54a2eb;
	color: #6ebcf0;
}

footer {
	margin-top: 50px;
}
body {
	background-color: #ffafaf;
	font-family: Arial, sans-serif;
}
h1 {
	color: #dfceff;
	text-align: center;
	margin-top: 20px;
}
p {
	text-align: center;
	font-size: 44px;
	margin-top: 10px;
	color: hwb(0 100% 0%);
}
.counter {
	font-weight: bold;
	color: #e9f4ff;
}
.video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
  
  
  
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

  *{
	  margin: 0px;
	  padding: 0px;
  }
  
  body{
	  font-family: 'Exo', sans-serif;
  }
  
  
  .context {
	  width: 100%;
	  position: absolute;
	  top:50vh;
	  
  }
  
  .context h1{
	  text-align: center;
	  color: #fff;
	  font-size: 50px;
  }
  
  
  .area{
	  background: #7C6BD1;  
	  background: -webkit-linear-gradient(to left, #767dff, #03052b);  
	  width: 100%;
	  height:100vh;
	  
	 
  }
  
  .circles{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
  }
  
  .circles li{
	  position: absolute;
	  display: block;
	  list-style: none;
	  width: 20px;
	  height: 20px;
	  background: rgba(255, 255, 255, 0.2);
	  animation: animate 25s linear infinite;
	  bottom: -150px;
	  
  }
  
  .circles li:nth-child(1){
	  left: 25%;
	  width: 80px;
	  height: 80px;
	  animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
	  left: 10%;
	  width: 20px;
	  height: 20px;
	  animation-delay: 2s;
	  animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
	  left: 70%;
	  width: 20px;
	  height: 20px;
	  animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
	  left: 40%;
	  width: 60px;
	  height: 60px;
	  animation-delay: 0s;
	  animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
	  left: 65%;
	  width: 20px;
	  height: 20px;
	  animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
	  left: 75%;
	  width: 110px;
	  height: 110px;
	  animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
	  left: 35%;
	  width: 150px;
	  height: 150px;
	  animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
	  left: 50%;
	  width: 25px;
	  height: 25px;
	  animation-delay: 15s;
	  animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
	  left: 20%;
	  width: 15px;
	  height: 15px;
	  animation-delay: 2s;
	  animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
	  left: 85%;
	  width: 150px;
	  height: 150px;
	  animation-delay: 0s;
	  animation-duration: 11s;
  }
  
  
  
  @keyframes animate {
  
	  0%{
		  transform: translateY(0) rotate(0deg);
		  opacity: 1;
		  border-radius: 0;
	  }
  
	  100%{
		  transform: translateY(-1000px) rotate(720deg);
		  opacity: 0;
		  border-radius: 50%;
	  }
  
  }
  /* vietnamese */
@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISfH6jyDM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISfX6jyDM.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISc36j.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISfH6jyDM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISfX6jyDM.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/exo/v20/4UaOrEtFpBISc36j.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .joy1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34vh;
  }
  
  img {
	max-width: 110%;
	max-height: 110%;
  }
  

  
